%header.header
  %nav.navbar.tw.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.br_name{:href => root_path}
          = image_tag 'logo.png'
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li

      / /.nav-collapse
.container
  .row
    .center-block.width50
      %h1 New User
      = render 'form'
